<div class="card form-container">
  <div class="card-header text-center">Delete Health Metric Log</div>
  <div class="card-body text-center">
    <p>
      Are you sure you want to delete the metric log:
      {{ log.metricName }} ({{ log.metricUnit }}) recorded on
      {{ log.dateRecorded | date : "yyyy-MM-dd" }}?
    </p>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-danger me-2" (click)="onDelete()">Delete</button>
      <button class="btn btn-secondary" (click)="close.emit()">Cancel</button>
    </div>
  </div>
</div>
