<div class="home-container">
  <main class="home-main">
    <div class="content">
      <h1>wellness <span>hub</span></h1>
    </div>
    <div class="content">
      <p>Seamless Wellness Tracking for a Healthier You</p>
      <div class="down-arrow" (click)="scrollToAbout()">⬇️</div>
    </div>
  </main>
</div>
<div class="about-container">
  <!-- About Section -->
  <section class="about-section" id="about">
    <h2>About Wellness Hub</h2>
    <p>
      Welcome to Wellness Hub! We provide tools to help you manage and track
      your health journey...
    </p>
  </section>
</div>