<div class="home-container">
  <main class="home-main">
    <div class="background">
      <img
        src="/img/ExerciseDiet.png"
        class="diet-img"
        alt="Exercise Diet Image"
      />
      <div class="content">
        <h1 class="title">
          <span id="wellness">wellness</span>
          <span id="hub">hub</span>
        </h1>
      </div>
      <img src="/img/Meditation.png" class="med-img" alt="Meditation Image" />
      <div class="bottom-content">
        <p>Seamless Wellness Tracking for a Healthier You</p>
        <!-- <div class="down-arrow">v</div> -->
      </div>
    </div>
  </main>
</div>
<div>
  <app-about></app-about>
</div>
