* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #003366;
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: none;
  background-image: url("/img/bg.jpg"); /* Replace with the actual image path */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
}

main.home-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.content h1 {
  font-size: 3em;
  color: #003366;
  font-weight: bold;
  height: 100%;
}

.content h1 span {
  display: block;
  font-size: 1.2em;
  color: #333333;
  margin-top: -10px;
}

.content p {
  font-size: 1.1em;
  color: #003366;
  margin-top: 20px;
}

.down-arrow {
  font-size: 2em;
  margin-top: 20px;
  color: #003366;
  cursor: pointer;
}

.illustrations {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.about-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}
.about-section {
  position: relative;
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
  width: 100%;
  /* Pushes the about section to always be at the bottom */
  margin-top: auto;
}

.about-section h2 {
  font-size: 2em;
  color: #003366;
}

.about-section p {
  font-size: 1.1em;
  color: #666666;
  margin-top: 10px;
}
