<div class="card form-container">
  <div class="card-header text-center bg-dark text-white">Update Student</div>
  <div class="card-body">
    <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="studentName">Student Name:</label>
        <input
          type="text"
          [(ngModel)]="student.studentName"
          name="studentName"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="studentGrade">Grade:</label>
        <input
          type="text"
          [(ngModel)]="student.studentGrade"
          name="studentGrade"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="studentRollNo">Roll No:</label>
        <input
          type="text"
          [(ngModel)]="student.studentRollNo"
          name="studentRollNo"
          class="form-control"
          required
        />
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-black me-2" type="submit">Update</button>
        <button class="btn btn-secondary" (click)="close.emit()">Cancel</button>
      </div>
    </form>
  </div>
</div>