<div class="card form-container">
  <div class="card-header text-center">Meal Details</div>
  <div class="card-body">
    <!-- Basic Meal Details -->
    <p>
      <strong>Consumption Date:</strong>
      {{ meal?.consumptionDate | date : "yyyy-MM-dd" }}
    </p>
    <p><strong>Meal Type:</strong> {{ meal?.mealType }}</p>

    <hr />

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

    <!-- Error Message -->
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>

    <p><strong>Foods:</strong></p>
    <ul>
      <li *ngFor="let food of meal?.foods">
        <strong>{{ food.foodName }}</strong> - {{ food.quantity }}
        {{ food.unit }}:
        <!-- Food Nutritional Details -->

        <div *ngIf="food.nutritionalInfo" class="mb-3">

          <p>Calories: {{ food.nutritionalInfo.calories }}</p>
          <p>Total Fat: {{ food.nutritionalInfo.totalFat }} g</p>
          <p>Saturated Fat: {{ food.nutritionalInfo.saturatedFat }} g</p>
          <p>
            Carbohydrates:
            {{ food.nutritionalInfo.totalCarbohydrate }} g
          </p>
          <p>Protein: {{ food.nutritionalInfo.protein }} g</p>
          <p>Dietary Fiber: {{ food.nutritionalInfo.dietaryFiber }} g</p>
          <p>Sugars: {{ food.nutritionalInfo.sugars }} g</p>

          <p>Cholesterol: {{ food.nutritionalInfo.cholesterol }} mg</p>
          <p>Sodium: {{ food.nutritionalInfo.sodium }} mg</p>
          <p>Potassium: {{ food.nutritionalInfo.potassium }} mg</p>
          <p>Phosphorus: {{ food.nutritionalInfo.phosphorus }} mg</p>
        </div>
        <hr />
      </li>
    </ul>

    <button class="btn btn-black" (click)="closeDetails()">Close</button>
  </div>
</div>
