<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand logo" routerLink="/admin">
        <img src="img/Logo.png" alt="Wellness Hub Logo" />
      </a>

      <!-- Navbar toggler for smaller screens -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarContent">
        <!-- Left-aligned Title -->
        <div id="nav-title" class="me-auto">
          <a routerLink="/admin" class="navbar-links">Wellness Hub</a>
        </div>

        <!-- Right-aligned Links -->
        <ul class="navbar-nav ms-auto" id="nav-others">
          <li class="nav-item">
            <a routerLink="user-data" class="navbar-links nav-link"
              >User Data</a
            >
          </li>
          <!-- <span>|</span>
          <li class="nav-item">
            <a routerLink="metric-type" class="navbar-links nav-link"
              >Metric Data</a
            >
          </li> -->
          <li class="nav-item separator d-none d-lg-block">
            <span>|</span>
          </li>
          <li class="nav-item">
            <a routerLink="exercise-type" class="navbar-links nav-link"
              >Exercise Type</a
            >
          </li>
          <li class="nav-item separator d-none d-lg-block">
            <span>|</span>
          </li>
          <li class="nav-item">
            <a routerLink="mood-type" class="navbar-links nav-link">Mood Type</a>
          </li>
          <li class="nav-item separator d-none d-lg-block">
            <span>|</span>
          </li>
          <!-- Logout button -->
          <li class="nav-item">
            <button
              class="btn btn-link navbar-links logout-button"
              (click)="logout()"
            >
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<router-outlet />
