<div class="card form-container">
  <div class="card-header text-center">Add Health Metric Log</div>
  <div class="card-body">
    <form>
      <div class="form-group mb-3">
        <label for="metricId">Metric Type:</label>
        <select
          [(ngModel)]="healthMetricLog.metricId"
          name="metricId"
          class="form-control"
          required
        >
          <option *ngFor="let metric of metricsList" [value]="metric.metricId">
            {{ metric.metricName }} ({{ metric.unit }})
          </option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="value">Metric Value:</label>
        <input
          type="number"
          [(ngModel)]="healthMetricLog.value"
          name="value"
          class="form-control"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label for="dateRecorded">Date Recorded:</label>
        <input
          type="datetime-local"
          [(ngModel)]="healthMetricLog.dateRecorded"
          name="dateRecorded"
          class="form-control"
          required
        />
      </div>

      <div class="d-flex justify-content-center mt-4">
        <button
          type="button"
          class="btn btn-black me-2"
          (click)="addHealthMetricLog()"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
