/* Basic reset for padding and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Home Page Styling */
.home-page {
  display: flex;
  background-color: #f5faff; /* Light lavender background for calm tone */
  background-size: cover;
  background-position: center;
  align-content: center;
  justify-content: center;
  padding: 2rem; /* Consistent padding */
  height: auto; /* Allow content to dictate height */
}

.home-page h1 {
  color: #003276; /* Primary theme blue */
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.home-page p {
  color: #008152; /* Secondary theme green */
  font-size: 18px;
  margin-bottom: 2rem;
}

/* Service Item Styling */
.service-item {
  background-color: #ffffff; /* White background */
  border: 1px solid #003276; /* Primary blue border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.service-item h2 {
  font-size: 1.5rem;
  color: #003276;
  margin-bottom: 1rem;
}

.service-item p {
  font-size: 1rem;
  color: #3d3d3f;
  margin-bottom: 1.5rem;
}

.service-item button {
  background-color: #008152;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.service-item button:hover {
  background-color: #003276; /* Primary blue on hover */
}

/* Footer Styling */
footer {
  margin-top: auto;
  background: linear-gradient(135deg, #003276, #008152); /* Theme gradient */
  color: white;
  padding: 1.5rem 2rem;
  text-align: center;
}

footer h3 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

footer p {
  font-size: 16px;
}

/* Button Styling */
.btn-success {
  background-color: #003276;
  border: none;
}

.btn-success:hover {
  background-color: #008152;
}
