<!-- Main Page Section -->
<div class="home-page">
  <div class="container text-center text-dark">
    <h1>Welcome to Your Health & Wellness Journey</h1>
    <p>
      Transform your life with our expert solutions in Physical Health, Diet,
      and Mental Wellness.
    </p>

    <!-- Service Section (3 Columns) -->
    <div class="row mt-5">
      <div class="col-md-4 mb-4">
        <div class="service-item p-4 rounded">
          <h2>Physical Health</h2>
          <p>
            Boost your fitness with personalized workouts, expert fitness tips,
            and comprehensive health tracking.
          </p>
          <button class="btn btn-success btn-lg" routerLink="/user/exercise">
            Explore
          </button>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="service-item p-4 rounded">
          <h2>Diet & Nutrition</h2>
          <p>
            Achieve your dietary goals with balanced meal plans, nutrition
            advice, and healthy recipes tailored for you.
          </p>
          <button class="btn btn-success btn-lg" routerLink="/user/meal">
            Explore
          </button>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="service-item p-4 rounded">
          <h2>Mental Wellness</h2>
          <p>
            Take care of your mind with mindfulness techniques, stress
            management tips, and mental health support.
          </p>
          <button class="btn btn-success btn-lg" routerLink="/user/mood">
            Explore
          </button>
        </div>
      </div>
    </div>
  </div>
</div>