<div class="row pt-2">
  <!-- Health Metrics List -->
  <div class="col-8">
    <div class="card form-container">
      <div class="card-header">Health Metrics List</div>
      <div class="card-body">
        <!-- Loading Spinner -->
        <div
          *ngIf="loading"
          class="d-flex justify-content-center align-items-center"
          style="height: 300px"
        >
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
        <!-- Health Metrics Table -->
        <div *ngIf="!loading">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-light">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Metric</th>
                  <th>Description</th>
                  <th>Value</th>
                  <!-- <th>Actions</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of healthMetricsLogs; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ log.metricName }} ({{ log.metricUnit }})</td>
                  <td>{{ log.metricDescription }}</td>
                  <td>{{ log.value }}</td>
                  <!-- <td>
                  <button
                      class="btn btn-primary me-2 btn-black"
                      (click)="onEdit(log)"
                    >
                      Edit
                    </button> 
                    <button
                      class="btn btn-danger"
                      (click)="onDelete(log)"
                    >
                      Delete
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add/Edit/Delete Section -->
  <div class="col-4">
    <app-add-metric-log
      *ngIf="!editing && !deleting"
      (success)="refreshList()"
    ></app-add-metric-log>

    <!-- <app-delete-metric-log
      *ngIf="deleting"
      [log]="selectedLog"
      (close)="cancelDelete()"
      (success)="refreshList()"
    ></app-delete-metric-log> -->
  </div>
</div>
