.table-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: #003276 !important;
}

.table-header th {
  color: #000;
}

.form-container label {
  color: rgb(99, 39, 120);
}

.btn-primary {
  background-color: rgb(99, 39, 120);
  border: none;
}

.btn-primary:hover {
  background-color: #682773;
}