<div class="row">
  <!-- Form Section -->
  <div class="col-md-6">
    <div class="card shadow p-4 form-container">
      <h3 class="mb-4">Log Your Health Metric</h3>
      <form (ngSubmit)="onSubmit()" #healthMetricsForm="ngForm">
        <div class="form-group mb-3">
          <label for="metric">Metric:</label>
          <select
            id="metric"
            class="form-control"
            [(ngModel)]="healthMetricsObj.metricId"
            name="metric"
            required
          >
            <option value="0" disabled selected>Select a Metric</option>
            <option *ngFor="let metric of metrics" [value]="metric.metricId">
              {{ metric.metricName }} ({{ metric.unit }})
            </option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="value">Value:</label>
          <input
            type="number"
            id="value"
            class="form-control"
            [(ngModel)]="healthMetricsObj.value"
            name="value"
            required
            placeholder="Enter the value"
          />
        </div>

        <div class="form-group mb-3">
          <label for="dateRecorded">Date Recorded:</label>
          <input
            type="date"
            id="dateRecorded"
            class="form-control"
            [(ngModel)]="healthMetricsObj.dateRecorded"
            name="dateRecorded"
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="isSubmitting || healthMetricsForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>

  <!-- Table Section -->
  <div class="col-md-6">
    <div class="card shadow p-4 table-container">
      <h4 class="mb-4">Submitted Logs</h4>
      <table class="table table-striped">
        <thead>
          <tr class="table-header text-white">
            <th>#</th>
            <th>Metric</th>
            <th>Value</th>
            <th>Date Recorded</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of submittedLogs; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ getMetricNameAndUnit(log.metricId) }}</td>
            <td>{{ log.value }}</td>
            <td>{{ log.dateRecorded | date : "shortDate" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
