<div class="container mt-4">
  <h2 class="card-header">User Profiles</h2>
  <table class="table table-bordered table-hover">
    <thead class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>DOB</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Gender</th>
        <th>Address</th>
        <!-- <th>Profile Picture</th> -->
        <th>Created At</th>
        <th>Weight</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userProfiles">
        <td>{{ user.userProfileId }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.dob }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.mobileNumber }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.address }}</td>
        <!-- <td>{{ user.profilePicture }}</td> -->
        <td>{{ user.createdAt }}</td>
        <td>{{ user.weight }}</td>
        <td>{{ user.height }}</td>
      </tr>
    </tbody>
  </table>
</div>
